@import './base.css';

body {
  background: radial-gradient(circle at top left, #fdf1e4 0%, #f5f1ea 45%, #edf8f4 100%);
}

#app {
  min-height: 100vh;
}

a {
  color: inherit;
  text-decoration: none;
}
